.auth_box {
  width: 30%;
  margin: auto;
  background-color: white;
  padding: 2rem;
  border-radius: 1rem;
  text-align: center;
}

/* Medium Screen */
@media only screen and (max-width: 1007px) {
  .auth_box {
    width: 40%;
  }
}

/* Small Screen */
@media only screen and (max-width: 640px) {
  .auth_box {
    width: 50%;
  }
}
