.loading_box {
  width: 100%;
}
.waviy {
  margin: auto;
  width: 20%;
}
.waviy span {
  position: relative;
  display: inline-block;
  font-size: 20px;
  color: rgb(253, 253, 253);
  text-transform: uppercase;
  animation: flip 2s infinite;
  
}
@keyframes flip {
  0%{
    transform: rotateY(0deg);
  }
  25%{
    transform: rotateY(90deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  75% {
    transform: rotateY(270deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

/* Medium Screen */
@media only screen and (max-width: 1007px) {
}

/* Small Screen */
@media only screen and (max-width: 640px) {
}
