.link-tag {
  height: fit-content;
  text-decoration: none;
  color: gainsboro;
}

/* Medium Screen */
@media only screen and (max-width: 1007px) {
}

/* Small Screen */
@media only screen and (max-width: 640px) {
}
